### FLOAT ASSIGNMENT

#### ANUJA BIYANI
#### 13 JAN BATCH

##### QUEST 1

In [1]:
a= 24.8
print(type(a))
print(id(a))

<class 'float'>
476154145776

##### QUEST 2

In [2]:
num1=25.5
num2=67.9
#sum of two numbers
sum=num1+num2
print(sum)
# subtraction
diff=num2-num1
print(diff)
#product
pro=num1*num2
print(pro)
#division
div=num1/num2
print(div)
#remainder
rem=num1%num2
print(rem)
#quotient
quot=num1/num2
print(quot)
#power
print(pow(num1,num2))

93.4
42.400000000000006
1731.45
0.37555228276877756
25.5
0.37555228276877756
3.1921129603017465e+95

##### QUEST 3

In [4]:
var1=24.8
var2=11.89
print(var1>var2)
print(var1<var2)
print(var1>=var2)
print(var1<=var2)

True
False
True
False

##### QUEST 4

In [5]:
temp1=98.7
temp2=76.09
print(temp1==temp2)
print(temp1!=temp2)

False
True

##### QUEST 5

In [6]:
print(10.20 and 20.30)    
print(0.0 and 20.30)   
print(20.30 and 0.0)    
print(0.0 and 0.0)
print(10.20 or 20.30)   
print(0.0 or 20.30)
print(20.30 or 0.0)
print(0.0 or 0.0)
print(not 10.20)
print(not 0.0)

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

##### QUEST 6

In [8]:
b=10.20
c=10.20
print(b is c)     #f
print(b is not c)  #t

False
True

This is because  object reusability doesnt work for float datatypes

##### QUEST 7

The object reusabilty will not work if we assign same float value to different variables, but if we direct one variable to pick value of that variable and save in itself than object reusabilty will work and Id's of both will be same

##### QUEST 8

In [10]:
print('2.7' in 'Python2.7.8') #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))   #TRUE

True
True
True
True
True
True